.background {
  background: center no-repeat url(background.jpg);
}

.logo {
  background-image: url(orange_logo.png);
}

.progressBar {
  background-color: #FF7900;
}

.splash {
  background-image: url(orange_logo.png);
}

.watermark {
  background-image: url(orange_tv_logo.png);
  background-size: 127px 28px;
}
