.background {
  background: center no-repeat url(https://jpintor14.github.io/chromecast-receiver-style/background.jpg);
}

.logo {
  background-image: url(https://jpintor14.github.io/chromecast-receiver-style/orange_logo.png);
}

.progressBar {
  background-color: #FF7900;
}

.splash {
  background-image: url(https://jpintor14.github.io/chromecast-receiver-style/orange_logo.png);
}

/*
//description hides the watermark

.watermark {
  background-image: url(https://jpintor14.github.io/chromecast-receiver-style/orange_tv_logo.png);
  background-size: 127px 28px;
}
*/
